[submodule "PerfectLib"]
	path = PerfectLib
	url = https://github.com/PerfectlySoft/Perfect.git
[submodule "PerfectServer"]
	path = PerfectServer
	url = https://github.com/PerfectlySoft/PerfectServer.git
[submodule "Perfect-SQLite"]
	path = Perfect-SQLite
	url = https://github.com/PerfectlySoft/Perfect-SQLite.git
[submodule "Perfect-PostgreSQL"]
	path = Perfect-PostgreSQL
	url = https://github.com/PerfectlySoft/Perfect-PostgreSQL.git
[submodule "Perfect-MongoDB"]
	path = Perfect-MongoDB
	url = https://github.com/PerfectlySoft/Perfect-MongoDB.git
[submodule "Perfect-MySQL"]
	path = Perfect-MySQL
	url = https://github.com/PerfectlySoft/Perfect-MySQL.git
[submodule "PerfectDocs"]
	path = PerfectDocs
	url = https://github.com/PerfectlySoft/PerfectDocs.git
[submodule "Examples/PerfectExample-WebSocketsServer"]
	path = Examples/PerfectExample-WebSocketsServer
	url = https://github.com/PerfectlySoft/PerfectExample-WebSocketsServer.git
[submodule "Examples/PerfectExample-URLRouting"]
	path = Examples/PerfectExample-URLRouting
	url = https://github.com/PerfectlySoft/PerfectExample-URLRouting.git
[submodule "Examples/PerfectExample-UploadEnumerator"]
	path = Examples/PerfectExample-UploadEnumerator
	url = https://github.com/PerfectlySoft/PerfectExample-UploadEnumerator.git
[submodule "PerfectTemplate"]
	path = PerfectTemplate
	url = https://github.com/PerfectlySoft/PerfectTemplate.git
