[submodule "PerfectLib"]
	path = PerfectLib
	url = https://github.com/PerfectlySoft/Perfect.git
[submodule "PerfectServer"]
	path = PerfectServer
	url = https://github.com/PerfectlySoft/PerfectServer.git
[submodule "PerfectExamples"]
	path = PerfectExamples
	url = https://github.com/PerfectlySoft/PerfectExamples.git
[submodule "Perfect-SQLite"]
	path = Perfect-SQLite
	url = https://github.com/PerfectlySoft/Perfect-SQLite.git
[submodule "Perfect-PostgreSQL"]
	path = Perfect-PostgreSQL
	url = https://github.com/PerfectlySoft/Perfect-PostgreSQL
[submodule "Perfect-MongoDB"]
	path = Perfect-MongoDB
	url = https://github.com/PerfectlySoft/Perfect-MongoDB
[submodule "Perfect-MySQL"]
	path = Perfect-MySQL
	url = https://github.com/PerfectlySoft/Perfect-MySQL
