[submodule "PerfectLib"]
	path = PerfectLib
	url = https://github.com/PerfectlySoft/Perfect.git
[submodule "PerfectServer"]
	path = PerfectServer
	url = https://github.com/PerfectlySoft/PerfectServer.git
[submodule "PerfectDocs"]
	path = PerfectDocs
	url = https://github.com/PerfectlySoft/PerfectDocs.git
[submodule "Examples/PerfectExample-WebSocketsServer"]
	path = Examples/PerfectExample-WebSocketsServer
	url = https://github.com/PerfectlySoft/PerfectExample-WebSocketsServer.git
[submodule "Examples/PerfectExample-URLRouting"]
	path = Examples/PerfectExample-URLRouting
	url = https://github.com/PerfectlySoft/PerfectExample-URLRouting.git
[submodule "Examples/PerfectExample-UploadEnumerator"]
	path = Examples/PerfectExample-UploadEnumerator
	url = https://github.com/PerfectlySoft/PerfectExample-UploadEnumerator.git
[submodule "PerfectTemplate"]
	path = PerfectTemplate
	url = https://github.com/PerfectlySoft/PerfectTemplate.git
[submodule "Datasources/Perfect-PostgreSQL"]
	path = Datasources/Perfect-PostgreSQL
	url = https://github.com/PerfectlySoft/Perfect-PostgreSQL.git
[submodule "Datasources/Perfect-MySQL"]
	path = Datasources/Perfect-MySQL
	url = https://github.com/PerfectlySoft/Perfect-MySQL.git
[submodule "Datasources/Perfect-MongoDB"]
	path = Datasources/Perfect-MongoDB
	url = https://github.com/PerfectlySoft/Perfect-MongoDB.git
[submodule "Datasources/Perfect-SQLite"]
	path = Datasources/Perfect-SQLite
	url = https://github.com/PerfectlySoft/Perfect-SQLite.git
[submodule "Datasources/Perfect-Redis"]
	path = Datasources/Perfect-Redis
	url = https://github.com/PerfectlySoft/Perfect-Redis.git
[submodule "Examples/Perfect-UltimateNaughtsAndCrosses"]
	path = Examples/Perfect-UltimateNaughtsAndCrosses
	url = https://github.com/PerfectlySoft/Perfect-UltimateNaughtsAndCrosses.git
